---
const { item, onRowClick } = Astro.props;
---

<li
  id="map-mod-row"
  class="flex cursor-pointer items-center rounded p-2 duration-0 hover:bg-black/10 data-[selected=true]:bg-green-400 dark:hover:bg-white/10 dark:data-[selected=true]:bg-green-950"
  onclick={onRowClick}
  data-value={item}
>
  <div
    class="ml-3 text-sm font-medium text-gray-700 dark:text-gray-100"
    set:html={item.replace(/\|/g, '<br>')}
  />
</li>
